.card {
    margin: 0;
    width: 100%;
    max-width: 387.33px;
    height: auto;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0;
    text-align: left;
    margin: 16px;
    overflow: hidden;
}

.card-img {
    .card-img {
        width: 100%;
        height: auto;
        border: none;
        box-shadow: none;
        display: block;
        margin: 0;
        padding: 0;
    }
}

.card-content {
    font-weight: 600;
    color: #6941c6;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 12px;
}



.card-icon {
    padding-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    position: relative;
    font-size: 1.2rem;
    margin-right: 10px;
    transform: rotate(45deg);
    left: 7px;
    top: 7px;
}


.card-description {
    font-size: 16px;
    color: #667085;
    line-height: 24px;
}


@media (max-width: 768px) {
    .card {
        max-width: 100%;
        margin: 16px auto;
        text-align: center;
    }

    .card-title {
        font-size: 20px;
    }

    .card-description {
        font-size: 14px;
    }
}