.section-title-container {
    text-align: left;

}

.title {
    font-size: 35px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    padding: 0;
}

.description {
    color: #c0c5d0;
}

@media screen and (max-width: 430px) {

    .title {
        font-size: 24px;
        text-align: center;
    }

    .description {
        font-size: 14px;
        text-align: center;
    }
}