.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #1a1a1a;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    padding: 23px 0;
    padding-left: 75px;
    border-top: 1px solid #090d1f;
}

@media (max-width: 768px) {
    .footer {
        font-size: 16px;
    }
}

@media screen and (max-width: 430px) {
    .footer {
        font-size: 16px;
        padding: 10px;
        text-align: center;

    }
}